 /* Base color: #00B5AC;
base shades : #00B5AC;
              #00C2B8;
              #009C94;

Tagline color: #3f3185;
      shades:  #634DD1;
               #453691;
               #33286B       
 */

* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}
body {
    
      font-size: 15px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      background: #f7f7f7;

}
.navbar {
      background-color: white;
      font-family: 'EB Garamond', serif;
      text-transform: uppercase;
      /*font-size: 75%;*/
      font-weight: 700;
      height: 6em;
      box-shadow: 1px 2px 1px 1px rgba(0, 156, 148, 0.158);
}
.navbar-brand {
      width: 34%;
      margin-left: 2%;
}
.navbar-brand img {    
      width: 30%;
}
.navbar-nav a {
      /* padding: 0px 50% ; */
}
.navbar-nav .nav-item {
      color: black;
      /*padding: 2%;*/
}
.nav-item:hover,
.nav-item:active {
      background: #00B5AC;
      color: white;
      
      transition: background .3s;
  }
  .navbar-nav .nav-item .active {
      
      background: #00C2B8
}

.dropdown-toggle {
      width: 170px;

} 
.row {
      margin: 0% 4%;
}
.side-bar h2 {
      color:  #009C94;
}
.main-search {
      width: 50%;
      

}
.custom-select {
      font-size: 50%;
}
/* .btn-group {
      width: 100%;
      margin-bottom: 5%;
} */
.input-group-text {
      background: #00B5AC;
      border: none;

}
.result {
      /* color: white;
       */
      border-radius: .25rem;
      padding: 3%;
      margin-bottom: 2%;
      background: white;
      box-shadow: 1px 2px 3px 3px #9b9b9b27;
}
.result h3 {
      color: #00B5AC;
}

.result p {
      line-height: 29px;

}
.result a{
      text-decoration: none;
      color: #009C94;

}
/* .result .btn, .modal-footer .save-btn {
      background: #3f3185;
      color: white;
} */
strong {
      color: #3f3185;
}
h1 {
      /*font-size: 100%;*/
}



@media(max-width : 900px) {
      .main-search {
            width: 100%;
            margin-left: 0%;
      
      }
      .result {
            
      }
      .result h2{
         font-size: 15px;
      }
      .result p {
            font-size: 15px;
      }

}

/*Arijit Added*/
.btn-trastaven
{
    color: #fff;
    border-color: #00b5ac;
    background-color: #00b5ac;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-trastaven:hover
{
    color: #fff ;
    border-color: #313185; 
    background-color: #313185;
}
.btn-trastaven:focus,
.btn-trastaven.focus
{
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(94, 114, 228, .5);
}
.btn-trastaven.disabled,
.btn-trastaven:disabled
{
    color: #fff;
    border-color: #5e72e4; 
    background-color: #5e72e4;
}
.btn-trastaven:not(:disabled):not(.disabled):active,
.btn-trastaven:not(:disabled):not(.disabled).active,
.show > .btn-trastaven.dropdown-toggle
{
    color: #fff;
    border-color: #5e72e4; 
    background-color: #324cdd;
}
.btn-trastaven:not(:disabled):not(.disabled):active:focus,
.btn-trastaven:not(:disabled):not(.disabled).active:focus,
.show > .btn-trastaven.dropdown-toggle:focus
{
    box-shadow: none, 0 0 0 0 rgba(94, 114, 228, .5);
}
/*Arijigt Added end*/
@media(min-width : 900px) {
      .main-search {
            width: 50%;
            margin-left: 22.2%;
      
      }

}
