/* Base color: #00B5AC;
base shades : #00B5AC;
              #00C2B8;
              #009C94;

Tagline color: #3f3185;
      shades:  #634DD1;
               #453691;
               #33286B       
 */


* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}
body {
      font-size: 20px;
     
}
.psts {
      width: 100%;
      padding-left: 5%;
}
      
nav {
      box-shadow: 1px 2px 2px 2px  #00B5AC;
}
.fixed {
      position: fixed;
      width: 25%;
}
.scrollit {
      float: left;
      width: 71%
}
.header {
      margin-top: 10%;
      margin-bottom: 50px;
}
.sticky {
      position: sticky;
      
}
.sticky-top {
      padding-top: 10%;
      
}

.sticky-top a {
      display: block;
      font-size: 25px;
      margin-bottom: 20%;
      color: #212121;
}

.hero {
      width: 100%;
      
      /* height: 14%; */
      padding: 2% 3%;
}

.main-bar img {
      /* padding-right: 10px; */
}
.main-bar h4, .post h6, .post p, .main-bar .qoute {
    padding-left: 4%;
    padding-right: 5%;
    
}
.author-des p {
     font-size: 75%; 
     margin-bottom: 0px;

}
.author .follow {
      height: 50%;
      border: 1px solid #00B5AC;
      font-size: 80%;
      font-weight: 600;
      padding: 1px 3px;
}
.author-img img {
      height: 60px;
      margin-left: 5%;

}
.nonhero{
      height: 300px;
      width: 80%;
      margin-right: 16%;

}
.main-bar h2 {
      font-family: 'Raleway', sans-serif;
}
.post .quote {
      color: #ffcc00;


}
.post-list {
      padding-left: 15%;
}
.post p, .side-bar .card p {
      line-height: 40px;
     font-weight: 400;
}

i {
     color:#00B5AC;

} 

.side-bar {
      /* background: #f7f7f7; */
      padding: 0px 0px;
      left: 20px;
     
}
.side-bar .card {
      margin-top: 20px;
      width: 85%;
      border: none;
      border-radius: 0px;
      box-shadow: 1px 2px 15px 13px #f7f7f7;
}
.side-bar .bg {
      background: #f7f7f76e;
}
.side-bar .card img {
      height: 150px;
      width: 150px;
      border: 2px solid white;
      margin: 30px 22% 30px 30%;
      background-position: center;
}
.side-bar .card i {
      color: #00B5AC;
      font-size: 85%;
      padding-left: 15px;
      padding-bottom: 10px;
}
.side-bar .posts img {
      height: 50px;
      width: 100px;
}

.side-bar .posts .buttons .btn {
      font-size: 16px;
      
}
.buttons .active {
      background: #dfdede;
}
.side-bar .description {
      
      margin-left: 15%;
}
.side-bar .input-group {
      margin-left: 0px;
          width: 85%;
}
/* .posts .post-btn {
      width: 120%;
      margin-right: 40%;
} */
.description h1, .description p {
      font-size: 15px;
}
.main-bar .input-group {
      
      
}
.main-bar .input-group i{
      padding: 8px;
      color: #3f3185;
}
.main-bar .input-group-text {
      
}

/* Comment Section */
.comment-section {
      height: 100%;
      width: 80%;   
}
.comment-section input {
      width: 90%;
}
.commenting {
      box-shadow: 2px 2px 2px 2px #f7f7f7;
}
.commenter-img img {
      width: 50px;

}
.comment-section .name {
      margin-bottom: 0px;
      font-weight: 600;
      color: #3f3185;
}
.details-comment {
      font-size: 75%;
}

/* Input Groupss */

.input-group input{
      border: none;
      background-color: white;
      width: 90%;

    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

.input-group .btn{
    background: #00B5AC;
}

    
    .fa-user-circle-o{
      color: gray;
    }
    
    .input-group{
      border: 1px #797878 solid;
      padding: 0px;
      margin-left: 10px;
    }

    .input-group img {
          height: 50px;
    }

    /* Tag Section */

    .tag-section ul{
         list-style-type: none;  
    }
    .tag-section ul li {
          display: inline-block;
          background: #f7f7f7;
          margin-left: 3%;
          margin-bottom: 2%;
    }
   .tag-section ul li a {
        text-decoration: none;
        color: #212121d3;

   }


    @media(max-width : 900px) {
      .nonhero {
            height: 100%;
      }
      .main-bar h2, .main-bar h4 {
            font-size: 16px;
      }
      .side-bar {
            margin-left: 4%;
      }
      .side-bar .card img {
            margin-left: 18%;

      }
      .side-bar .description {
      
            margin-left: 2%;
      }

    }
    @media(min-width : 900px) {
          .hero {
                height: 18%;
          }
    }